<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>About Page</title>
  </head>
  <body>
    {{> header}}
    <p>this is about page and all i am doing here is writing about this page</p>
    {{> footer}}
  </body>
</html>

<!-- partial is a partial piece of your website it is something you can use throughout your website -->
